body{
    background-color: #f0f0f0;
}
form{
    padding: 50px;
    background-color: white;
    border-radius: 2px;
    box-shadow: rgb(177, 175, 175) 1px 2px 2px 2px;
    text-align: center;
    margin: 100px;
    position: relative;
}
.pai{
    text-align: center;
}
.letra{
    font-size: 17px;
}
.cad{
    width: 199px;
    height: 49px;
    background: #4AD395;
    border-radius: 5px;
    border: 1px solid#4AD395;
    color: white;
    font-family: sans-serif;
    margin-right: 13px;
    margin-top: 40px;
}
.cad2{
    background: #e5e5e5;
    border-radius: 5px;
    height: 49px;
    width: 199px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    color: #777777;
    font-family: sans-serif;
    font-size: 17px;
}
#texto{
    width: 419px;
    height: 49px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #4AD395;
    padding-left: 45px;
    margin-top: 33px;
}
#number{
    width: 419px;
    height: 49px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(187, 186, 186, 0.65);
    padding-left: 45px;
    margin-top: 33px;
}
#email{
    width: 419px;
    height: 49px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(187, 186, 186, 0.65);
    padding-left: 45px;
    margin-top: 33px;
}
#password{
    width: 419px;
    height: 49px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(187, 186, 186, 0.65);
    padding-left: 45px;
    margin-top: 33px;
}
#password1{
    width: 419px;
    height: 49px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(187, 186, 186, 0.65);
    padding-left: 45px;
    margin-top: 33px;
}
.tex-final{
    margin-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #777777;
}
.final1{
    width: 292px;
    height: 49px;
    background: #4AD395;
    border-radius: 5px;
    border: 1px solid#4AD395;
    color: white;
    font-family: sans-serif;
    margin-top: 18px;
    font-size: 17px;
}
.final2{
    width: 292px;
    height: 49px;
    background: #4AD395;
    border-radius: 5px;
    border: 1px solid#4AD395;
    color: white;
    font-family: sans-serif;
    margin-top: 10px;
}
.term{
    color: #4AD395;
    margin-top: 97px;
}
a:hover,a:visited,a:focus,a:active,a{
    text-decoration: none;
    color: inherit;
}